@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: #14213D;
  font-family: "Bungee";
  color: #E5E5E5;
}

header {
  padding-left: 5%;
  padding-bottom: 8%;
  margin: 20 px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

nav {
  position: sticky;
  padding-top: 2%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #8d99ae;
}

h1 {
  font-size: 64px;
}

h1 > strong {
  color: #FCA311;
  /* text-shadow: 0px 4px 4px rgba(229, 229, 229, 0.5); */
}

h2 {
  padding-top: 5%;
}

#about > h1 {
  padding-left: 5%;
  padding-bottom: 5%;
  color: #FCA311;
}

#about > p {
  padding-bottom: 22%;
}

#projects > h1 {
  padding-left: 5%;
  padding-bottom: 4%;
  color: #FCA311;
}

#contacts > h1 {
  padding-left: 5%;
  padding-bottom: 5%;
  color: #FCA311;
}

p {
  padding-left: 5%;
  padding-bottom: 10%;
  padding-right: 35%;
  line-height: 1.5em;
}

.page_button {
  color: #FCA311;
}

#projects > img {
  float: left;
  padding-left: 5%;
  padding-right: 2%;
  padding-bottom: 7%;
  height: 300px;
  width: 300px;
}

#contacts {
  clear: left;
}

#contacts > p {
  padding-bottom: 22%;
}


@media screen and (max-width: 768px) { 
  body {
    width: 500px; }
  nav {
    padding-top: 5%;
  }
  header {
    padding-top: 15%;
  }
  h1 {
      font-size: 50px; 
  }
  h2 {
    padding-bottom: 40%; 
  }
  #about > h1 {
    padding-top: 10%;
    padding-bottom: 5%;
  }
  #about > p {
    padding-bottom: 48%;
  }
  #projects > img {
    padding-top: 5%;
    height: 200px;
    width: 200px;
    float: none;
  }
  p {
    font-size: 18px;
    padding-right: 15%;
  }
  #contacts > p {
    padding-top: 5%;
    padding-bottom: 59%;
  }
}
  