@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #14213D;
  font-family: "Bungee";
  color: #E5E5E5;
}

header {
  padding-top: 12%;
  padding-left: 10%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

nav {
  position: fixed;
  margin-left: 80%;
  margin-top: 1%;
  padding-top: 1%;
  height: 18%;
  width: 12%;
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; */
  writing-mode:vertical-lr;
  text-orientation: upright;
  line-height:3rem;
  background-color: transparent;
}

a {
  font-family: "Roboto";
  text-transform: uppercase;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #8d99ae;
}

h1 {
  font-size: 64px;
}

h1 > strong {
  color: #FCA311;
  /* text-shadow: 2px -2px rgba(229, 229, 229, 0.5); */
}

h2 {
  padding-top: 5%;
}

h3 {
  padding-bottom: 2%;
  margin-right: 20%;
  font-size: 1rem;
  /* writing-mode:vertical-lr;
  text-orientation: upright; */
  display: inline-flex;
  align-items:flex-end;
  text-align: center;
  height:20%;
  line-height: 2rem;
  color: #FCA311;
  font-family: "Roboto";
  text-transform: uppercase;
}


#projects {
  margin-top: 6%;
}

#projects > h1 {
  margin-top:5%;
  padding-top: 5%;
  padding-left: 5%;
  color: #FCA311;
}

#contacts > h1 {
  margin-top:5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 2%;
  color: #FCA311;
}

p {
  padding-left: 5%;
  padding-bottom: 10%;
  padding-right: 35%;
  line-height: 1.5em;
  font-family: "Roboto";
}

.project > img {
  /* float: left; */
  margin-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  height: 25rem;
  width: 30rem;
  object-fit: contain;
}

.project {
  display: flex;
  align-content: space-around;
  justify-items: center;
  gap: 2%;
}

#projects > h2 {
  color: #8d99ae;
  font-size: 2rem;
  padding-left: 12%;
  padding-bottom: 3%;
  text-transform: uppercase;
}

.project > p {
  width: 20%;
  margin-bottom: 5%;
}


#about {
  /* clear: left; */
  margin-top:5%;
}

#about > h1 {
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 4%;
  color: #FCA311;
}

#about > p {
  padding-bottom:4%;
}

#contacts > a {
  padding-left: 5%;
  padding-bottom: 5%;
}


  

@media screen and (max-width: 768px) { 
  body {
    width: 100%; }
  nav {
    padding-top: 5%;
  }
  header {
    padding-top: 15%;
  }
  h1 {
      font-size: 50px; 
  }
  h2 {
    padding-bottom: 40%; 
  }
  #about > h1 {
    padding-top: 10%;
    padding-bottom: 5%;
  }
  #about > p {
    padding-bottom: 48%;
  }
  #projects > img {
    padding-top: 5%;
    height: 200px;
    width: 200px;
    float: none;
  }
  p {
    font-size: 18px;
    padding-right: 15%;
  }
  #contacts > p {
    padding-top: 5%;
    padding-bottom: 59%;
  }
}
  